.comments {
    display: none;
}
#right {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: normal;
}

#u {
	text-align: center;
	display: block;
}

.hash {
    background-color: rgba(139, 139, 139, 0.418);
    border-radius: 5px;
    padding-inline: 5px;
}